p {
    color: white;
    font-size: 20px;
}

a {
    color: white;
    font-size: 20px;
}

li {
    color: white;
    font-size: 18px;
}

.intro {
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 50px;
}

.hobbies {
    background-color: rgb(32, 32, 179);
    padding: 20px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 50px;
    width: 500px;
    margin-right: auto;
    margin-bottom: 30px;
    display: inline-block;
}

.hobby-pics {
    width: 400px;
    object-fit: contain;
    display: inline-block;
    border-radius: 20px;
    margin-left: 100px;
    vertical-align: middle;
}

.h1, .hobby1 {
    width: 400px;
    object-fit: contain;
    border-radius: 20px;
}

.h2 {
    width: 400px;
    object-fit: contain;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 50px;
    display: block;
}

.hobby2 {
    width: 400px;
    object-fit: contain;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 50px;
    display: block;
}

.h3, .hobby3 {
    width: 400px;
    object-fit: contain;
    margin-bottom: 50px;
    border-radius: 20px;
}

.favs-pics {
    width: 400px;
    object-fit: contain;
    display: inline-block;
    border-radius: 20px;
    margin-left: 100px;
    vertical-align: middle;
}

.f1, .fav1 {
    width: 400px;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 10px;
}

.f2 {
    width: 300px;
    object-fit: contain;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 50px;
    display: block;
}

.fav2 {
    width: 300px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    margin-left: 350px;
}

.f3, .fav3 {
    width: 300px;
    object-fit: contain;
    margin-bottom: 50px;
    border-radius: 20px;
    margin-left: 20px;
}


.favs {
    background-color: rgb(32, 32, 179);
    margin-right: 50px;
    width: 500px;
    padding: 20px;
    vertical-align: middle;
    border-radius: 20px;
    margin-bottom: 100px;
    display: inline-block;
    margin-left: 425px;
}

.comment {
    font-family: Playfair Display;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
}

.form {
    font-family: Playfair Display;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
}